*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(natu.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li{
    display: inline-block;
    border-radius: 5px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: 0.5 ease;
    position: relative;
    border-radius: 10px;
}

ul li a:hover{
    background-color: #fff;
    color: #f040d5;
}

ul li.active a{
    background-color: #fff;
    color:#ee54f3;
}

.logo img{
    float:right;
    width: 300px;
    height: 300px;
    padding-right: 0px;
    padding-top: 0;
    position: relative;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: #ed51bf;
    font-size: 40px;
}

.button{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid#f75ce5;
    padding: 5px 20px;
    color: #eb4dc9;
    transition: 0.5 ease;
    font-size: 10px;
    text-decoration: none;
}

.btn:hover{
    background-color: #fff;
    color:#000;
}

.sub-menu{
    display: none;
    top: 6%;
    position: relative;
}

.sub-menu ul{
    position: absolute;
}

.main ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: rgb(0, 45, 117);
    margin-top: 12px;
    margin-left: -8px;
}

.main ul li:hover .sub-menu ul{
    display: block;
    margin: 6px;
}

.main ul li:hover .sub-menu ul li{
    width: 75px;
    padding: 5px;
    border-bottom: 1px #fff;
    background: transparent;
    transition: 0.4 ease;
    text-align: left;
    border-radius: 0px;
}

.body form{
    text-align: right;
    padding-bottom: 80px;
    padding: 0px;
}
.form *{
    margin: 0;
    font-family: sans-serif;
    padding-bottom: 0x;
    
}

.registration-form{
    position:fixed;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding-top: 600px;
}

.registration-form h1{
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(249, 112, 249);
}

.registration-form p{
    font-size: 15px;
    margin: 15px;
    color: #fff;
}

.registration-form input{
    font-size: 10px;
    padding: 15px 30px ;
    width: 90px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 0px;
    text-align: center;
}

.registration-form button{
    font-size: 10px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 10px;
    width: 80px;
    border-radius: 5px;
    background-color: #fff;
}

.registration-form button:hover{
    color: red;
}




























